html {
  font-size: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: calc(0.5vw + 0.7rem);
  }
}

body {
  &:not(.home) {
    main {
      margin-top: 85px;
      background-color: theme-color("crudo");
    }
  }
}

a {
  transition: color $trans, background-color $trans;

  &:hover {
    color: $gray-300;
    text-decoration: none;
  }
}
