html {
  font-size: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: calc(0.5vw + 0.7rem);
  }
}

body {
  &:not(.home) {
    main {
      background-color: theme-color("crudo");

      @include media-breakpoint-up("sm") {
        margin-top: 5rem;
      }
    }
  }

  &.quercus.p-presentacion,
  &.quercus.p-newsletter,
  &.quercus.p-contact {
    .main {
      background-color: theme-color("azul");
    }
  }
}

a {
  transition: color $trans, background-color $trans;

  &:hover {
    color: theme-color("principal");
    text-decoration: none;
  }
}

article {
  max-width: 900px;
}

// Tooltips

.tippy-content {
  font-family: $ff-sans;
  font-weight: 300;
}

.meta {
  font-family: $ff-sans;
  font-size: 0.8rem;

  .autores {
    margin-bottom: 1rem;
  }

  .autor {
    margin-right: 2rem;

    &:last-child {
      margin-left: 0;
    }
  }

  p {
    margin: 0;

    &:not(.author) {
      font-size: 11px;
      font-weight: 200;
      line-height: 1.2em;
      max-width: 200px;
      color: #858585;
    }
  }

  time {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 0.6rem;
  }
}
