@font-face {
  font-family: 'logofont';
  src: url('../fonts/asapcondensed-semibold-webfont.woff2') format('woff2'), url('../fonts/asapcondensed-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
