/* stylelint-disable no-descending-specificity */

/** Search form */
.search-form .search-field {
  padding: 1rem;
  border: 1px solid theme-color("crudo");
  height: 60px;
}

#buscar,
.buscar {
  display: flex;

  .fa-cruz {
    display: none;
  }

  form {
    width: 100%;
    display: flex;
  }

  label {
    position: relative;
    display: block;
    width: calc(100% - 55px);
  }

  input[type="search"] {
    background-color: transparent;
    border: 1px solid theme-color("principal");
    width: 100%;
    color: theme-color("crudo");

    &::placeholder {
      color: theme-color("principal");
    }

    &:focus {
      background-color: theme-color("principal");
    }
  }
}

input[type="submit"] {
  position: relative;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  border-top: 1px solid theme-color("principal");
  border-right: 1px solid theme-color("principal");
  border-bottom: 1px solid theme-color("principal");
  border-left: none;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.7rem;
  font-weight: 700;
  font-family: $ff-sans;

  &:hover {
    background-color: theme-color("principal");
    color: theme-color("crudo");
  }
}

.search-form .search-submit {
  // @extend .btn;
  // @extend .btn-secondary;

  height: 60px;
}

.btn {
  border: none;
  transition: background-color $trans, color $trans;
  font-family: $ff-sans;
}

.btn-primary {
  background-color: theme-color("principal");

  &:hover {
    background-color: theme-color("azul");
  }
}

// Contacto WP form

.wpforms-field:not(.wpforms-field-phone) {
  overflow-x: unset !important;
}

.wpforms-container {
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;

  .wpforms-field-row,
  .wpforms-field-medium {
    max-width: 100% !important;
  }

  input[type="email"],
  input[type="text"],
  textarea {
    padding: 0.8rem 1.2rem;
    border: none;
  }

  @include media-breakpoint-up("sm") {
    margin-right: 0;
    margin-left: 0;
  }
}
