.home {
  .slider {
    display: flex;
    justify-content: center;
    width: 100%;

    .glide {
      width: 100%;
      max-width: 900px;

      .glide__track {
        position: relative;
        max-width: 900px;

        ul {
          li {
            position: relative;
            background-color: $gray-lighter;
            padding-bottom: 51vw; // hacer alto proporcional al ancho

            a {
              display: flex;
              position: absolute;
              padding: $pad-1;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              color: $gray-dark;

              .datos {
                padding-right: $pad-1;
                max-height: 100%;
                overflow: hidden;
                text-overflow: ellipsis;

                .seccion {
                  display: inline-block;
                  padding: 1vw;
                  background-color: #fff;
                  color: $gray-light-semi;
                  border-radius: 1vw;

                  svg {
                    font-size: 3.5vw;
                    margin-bottom: 0.5vw;
                  }

                  p {
                    display: block;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-family: $ff-sans;
                    font-size: 1.8vw;
                    letter-spacing: 0.05em;
                    font-weight: bold;
                    text-transform: uppercase;
                  }
                }

                h2 {
                  font-size: 3vw;
                  margin-top: 2vw;
                }
              }

              &.imagen {
                .img {
                  width: 50%;
                  top: $pad-1;

                  img {
                    width: 100%;
                    height: auto;
                  }
                }

                .datos {
                  width: 50%;
                }
              }
            }
          }
        }
      }

      .glide__arrows {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 0;
        top: 24vw;
        transition: opacity $trans;

        .glide__arrow {
          font-size: 4vw;
          width: 7vw;
          height: 7vw;
          background: #fff;
          border: none;
          color: $color-principal;
          border-radius: 2em;
          transition: color $trans, background-color $trans;

          &:hover {
            color: #000;
            background-color: $color-allo;
          }
        }

        .glide__arrow--left {
          position: relative;
          left: -100px;
          margin-left: $pad-2;
        }

        .glide__arrow--right {
          position: relative;
          right: -100px;
          margin-right: $pad-2;
        }

        &.hide {
          opacity: 0;
        }
      }
    }
  }
}
