.home .glide {
  ul {
    li {
      position: relative;
      background-color: $gray-lighter;
      padding-bottom: 50vw;

      a {
        display: flex;
        position: absolute;
        padding: $pad-1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: $gray-dark;

        .datos {
          h2 {
            font-size: 3vw;
          }
        }

        &.imagen {
          .img {
            width: 50%;
            top: $pad-1;

            img {
              width: 100%;
              height: auto;
            }
          }

          .datos {
            width: 50%;
          }
        }
      }
    }
  }
}
