.home .glide {
  position: relative;

  .glide__track {
    ul {
      li {
        position: relative;
        background-color: $gray-lighter;
        padding-bottom: 51vw;

        a {
          display: flex;
          position: absolute;
          padding: $pad-1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          color: $gray-dark;

          .datos {
            h2 {
              font-size: 3vw;
            }
          }

          &.imagen {
            .img {
              width: 50%;
              top: $pad-1;

              img {
                width: 100%;
                height: auto;
              }
            }

            .datos {
              width: 50%;
            }
          }
        }
      }
    }
  }

  .glide__arrows {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 24vw;
    transition: opacity $trans;

    .glide__arrow {
      font-size: 4vw;
      width: 7vw;
      height: 7vw;
      background: #fff;
      border: none;
      color: $color-principal;
      border-radius: 2em;
      transition: color $trans, background-color $trans;

      &:hover {
        color: #000;
        background-color: $color-allo;
      }
    }

    .glide__arrow--left {
      position: relative;
      left: -100px;
      margin-left: $pad-2;
    }

    .glide__arrow--right {
      position: relative;
      right: -100px;
      margin-right: $pad-2;
    }

    &.hide {
      opacity: 0;
    }
  }
}
