.post-type-archive-new {
  article {
    margin-bottom: $pad;

    header {
      position: relative;
      margin-bottom: $pad;

      h2 {
        margin-top: 0;
        margin-bottom: $pad;
        font-size: 1.3rem;
        line-height: 1.3em;
      }

      .meta {
        display: inline-block;
        background-color: $gray-lighter;
        padding: 7px 7px 5px 7px;
        font-size: 0.6rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;

        .col.col1 time {
          margin-top: 0;
        }
      }
    }

    &:first-of-type {
      margin-top: $pad-4;
    }

    &.sj {
      margin-top: $pad-2;
      padding-top: $pad-1;
      border-top: 2px solid white;

      header {
        .marca-sj {
          display: block;
          position: absolute;
          width: 40px;
          height: 40px;
          top: -35px;
          left: 10px;
          padding-left: 10px;
          background-color: $color-allo;
          border-radius: 50%;
          border: 2px solid white;

          svg {
            position: absolute;
            top: -3px;
            width: 15px;
          }

          &:hover {
            background-color: $color-azul;
          }
        }

        .meta {
          background-color: $gray-light-semi;
        }
      }

      .entry-title {
        margin-top: $pad-1;
      }

      @include tablet-portrait {
        border-top: none;

        header {
          .marca-sj {
            border-color: $gray-dark;
            top: 20px;
            left: -22px;
          }
        }
      }
    }
  }
}
