.archive {
  article {
    margin-bottom: $pad-2;
    display: flex;
    flex-wrap: wrap;

    header {
      width: 100%;

      .tipo-de-texto {
        margin-bottom: $pad;

        a {
          display: inline-block;
          padding: 5px 7px 3px;
          font-family: $ff-sans;
          font-weight: 300;
          background-color: #000;
          color: $color-azul;
          font-size: 0.7rem;
          letter-spacing: 0.1em;
          text-transform: uppercase;

          &:hover {
            color: #fff;
            background-color: $color-azul;
          }
        }
      }

      h2 {
        margin-top: 0;
        font-size: 1.4rem;
        line-height: 1.2em;
      }
    }

    .entry-summary {
      width: 100%;
      font-size: 1rem;

      p {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @include tablet-portrait {
      header {
        width: 50%;
        padding-right: $pad-2;
        padding-left: $pad-2;
        border-left: 2px solid $gray-dark;

        h2 {
          font-size: 1.4rem;
          line-height: 1.2em;
        }
      }

      .entry-summary {
        width: 50%;
        font-size: 1rem;
      }
    }
  }
}
