.post-type-archive-sentence,
.tax-sentence-category,
.sentencias-sj,
.sentencias-qj,
.page-решения-суда-qj-data,
.page-решения-суда-sj-data {
  .infinite-scroll-container {
    padding-left: 0;

    li {
      font-size: 1.1rem;
      list-style-type: none;
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid theme-color("principal");

      &:last-child {
        border-bottom: none;
      }

      strong {
        display: block;
        font-size: 0.9rem;
        font-family: $ff-sans;
        letter-spacing: 0.1em;
      }

      .col-der {
        display: inline;
      }
    }
  }

  @include media-breakpoint-up("md") {
    li {
      strong {
        padding-top: 0.3em;
        display: inline-block;
        width: 12rem;
      }

      .col-der {
        display: inline-block;
        width: calc(100% - 190px);
        vertical-align: top;
      }
    }
  }
}
