.post-type-archive-story,
.tax-news-category,
.noticias-sj,
.noticias-qj,
.page-новости-qj-data,
.page-новости-sj-data,
.tax-tema {
  .infinite-scroll-container {
    padding-left: $pad;
    padding-right: $pad;
  }

  article {
    margin-bottom: 4rem;
    margin-top: 4rem;

    header {
      position: relative;
      margin-bottom: $pad;

      h2 {
        margin-top: 0;
        margin-bottom: $pad;
        font-size: 1.3rem;
        line-height: 1.3em;
      }

      .meta {
        display: inline-block;
        background-color: #fff;
        padding: 7px 7px 5px 7px;
        font-family: $ff-sans;
        font-size: 0.6rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;

        time {
          margin-top: 0;
        }
      }
    }

    &.sj {
      margin-top: $pad-2;
      background-color: $gray-300;
      padding: 1rem;
      border-radius: 4px;

      header {
        .marca {
          display: block;
          width: 40px;
          height: 40px;
          padding-left: 10px;
          margin-bottom: 0.7rem;
          border-radius: 50%;
          border: 2px solid white;

          svg {
            position: absolute;
            width: 15px;
          }

          &:hover {
            background-color: $gray-400;
          }
        }

        .marca-sj {
          background-color: theme-color("secundario");

          svg {
            top: 0.4rem;
          }
        }

        .marca-qj {
          background-color: theme-color("quercus-2");

          svg {
            top: 0.6rem;
          }
        }
      }
    }
  }

  @include media-breakpoint-up("md") {
    article {
      display: flex;

      header {
        width: 50%;
        padding-right: 2rem;
      }

      .entry-summary {
        width: 50%;
      }
    }
  }
}
