.contacto {
  .content {
    margin-bottom: 240px;
  }

  .acf-map {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 300px;
    background-color: white;
  }

  .gm-style-iw {
    font-family: $ff-sans;

    h4 {
      margin-top: 0.5em;
      font-weight: bold;
    }

    p {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .ubicaciones {
    margin-top: $pad-4;
    margin-bottom: $pad-3;
    font-size: 0.8rem;

    .separador {
      margin-bottom: $pad-4;
    }

    .ubicacion {
      font-family: $ff-sans;
      padding-bottom: $pad-2;
      border-bottom: 2px solid black;

      &:last-child {
        border-bottom: none;
      }

      h4 {
        font-weight: bold;
        margin-bottom: 0;
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  @include tablet-portrait {
    .ubicaciones {
      font-size: 0.9rem;
      color: $gray-dark;

      .flex {
        display: flex;
      }

      .ubicacion {
        border-bottom: none;
        background-color: white;
        padding: $pad;
        width: 33.3%;
        margin-left: $pad;

        &:first-child {
          margin-left: 0;
        }

        h4 {
          margin-top: 0;
        }
      }
    }
  }
}
