/* stylelint-disable no-descending-specificity */
.home {
  .content {
    padding: 0;
    margin: 0;
    max-width: none;

    .textos {
      padding: $pad;
      background-color: #fff;

      @include media-breakpoint-up(sm) {
        display: flex;

        .articulos {
          width: 100%;

          .contenido {
            display: flex;
            flex-wrap: wrap;

            article {
              width: 33.3%;
              padding: 0;
              padding-right: 2rem;

              &:nth-child(3n) {
                padding-right: 0;
              }

              .autores {
                margin-bottom: 0.5em;
              }

              .author {
                margin-bottom: 0;
                font-family: $ff-sans;
                font-size: 0.7rem;
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    section {
      .header {
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        margin-bottom: 1rem;

        h1,
        .enlace {
          font-size: 0.7rem;
          font-family: $ff-sans;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          margin-top: 0;
          margin-bottom: 0;
          line-height: 1em;
        }
      }

      .contenido {
        .item {
          h2 {
            font-size: 1.1rem;
          }
        }
      }

      &.noticias {
        padding: $pad;

        > .header {
          margin-bottom: $pad-2;

          h1 {
            margin-bottom: 5px;
          }

          a {
            display: block;
            margin-bottom: 5px;
          }
        }

        .contenido {
          display: flex;
          flex-wrap: wrap;

          article {
            width: 100%;
            margin-bottom: 0.9rem;
            background-color: #fff;
            padding: $pad;
            overflow: hidden;

            header {
              .marca {
                display: block;
                position: absolute;
                margin-bottom: 0.4rem;
                height: 2rem;
                width: 2rem;
                background-color: theme-color("secundario");
                border-radius: 50%;

                svg {
                  position: absolute;
                  top: 0.3rem;
                  left: 0.6rem;
                  width: 0.8rem;
                }

                &:hover {
                  background-color: $gray-300;
                }
              }

              .marca-sj {
                svg {
                  top: 0.3rem;
                }
              }

              .marca-qj {
                svg {
                  top: 0.5rem;
                }
              }

              h2 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 1.1rem;
              }

              time {
                font-family: $ff-sans;
                font-size: 0.6rem;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                color: $gray-400;
              }
            }

            .entry-summary {
              font-size: 1.1rem;
            }

            &.sj {
              header {
                h2,
                time {
                  margin-left: $pad-3;
                }
              }
            }
          }
        }

        @include media-breakpoint-up(sm) {
          .contenido {
            article {
              width: 33.3%;
              padding: 0;
              padding-right: 2rem;

              &:nth-child(3n) {
                padding-right: 0;
              }
            }
          }
        }
      }

      &.rincon {
        margin-bottom: $pad-2;
        padding: $pad-2;
        background-color: theme-color("rincon");

        .header {
          width: 100%;
          text-align: center;
          border-bottom: none;
          font-size: 2rem;

          h1 {
            font-size: 0.9rem;
          }

          a {
            display: block;
            margin-top: 5px;
          }
        }

        .contenido {
          .entry-header {
            h2 {
              a {
                font-size: 1.8rem;
                color: #fff;
                font-style: italic;

                &:hover {
                  color: $gray-200;
                }
              }
            }

            .byline {
              font-family: $ff-sans;
              font-size: 0.8rem;
              letter-spacing: 0.2em;
              text-transform: uppercase;
              font-weight: bold;
            }
          }

          .entry-summary {
            font-size: 1.2rem;
            color: $gray-400;
          }
        }

        @include media-breakpoint-up(sm) { // .rincon
          .header {
            margin-bottom: $pad-2;
          }

          .contenido {
            display: flex;
            align-items: flex-start;
            margin-bottom: $pad-2;

            .entry-header {
              width: 50%;
              padding-right: $pad-3;

              h2 {
                margin-top: 0;
              }
            }

            .entry-summary {
              width: 50%;

              p:first-child {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
