/* stylelint-disable no-descending-specificity */
.home {
  .content {
    padding: 0;
    margin: 0;
    max-width: none;

    .textos {
      padding: $pad;
      background-color: #fff;

      @include media-breakpoint-up(sm) {
        display: flex;
        padding: $pad-3;
        justify-content: center;

        .articulos {
          padding: $pad;
          max-width: 400px;
        }
      }
    }

    section {
      .header {
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        margin-bottom: 1rem;

        h1,
        .enlace {
          font-size: 0.7rem;
          font-family: $ff-sans;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          margin-top: 0;
          margin-bottom: 0;
          line-height: 1em;
        }
      }

      .contenido {
        .item {
          h2 {
            font-size: 1.1rem;
          }
        }
      }

      &#hero {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        padding-top: 30px;
        background-image: url("../images/fondo-cielo.jpg");
        background-size: cover;
        text-align: center;
        z-index: -100;

        .texto {
          padding-right: $pad-2;
          padding-left: $pad-2;
          text-align: left;
          line-height: 1.5em;

          p {
            color: #ffffffc2;
          }
        }

        .preguntanos {
          display: inline-block;
          margin-top: $pad-2;
          padding: 1em;
          font-family: $ff-sans;
          font-size: 1rem;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          color: theme-color("principal");
          background-color: theme-color("allo");
          border: 4px solid #fff;
          border-radius: 0.6em;
          z-index: 100;
        }

        img {
          display: block;
          position: absolute;
          bottom: 2vh;
          right: 0;
          max-width: 80vw;
          max-height: 50vh;
          width: auto;
          height: auto;
          z-index: 50;
        }

        #flecha-1 {
          display: block;
          position: absolute;
          bottom: 1rem;
          left: 48vw;
          color: #fff;
          z-index: 100;
          font-size: 2rem;
        }

        @include media-breakpoint-up(sm) {
          text-align: left;
          padding-top: 23rem;

          .texto {
            padding-right: 0;
            padding-left: 0;
            max-width: 400px;
            margin-top: 4rem;
            margin-left: 6rem;

            p {
              font-size: 1.2rem;
            }
          }

          .preguntanos {
            margin-left: 6rem;
          }
        }

        @include media-breakpoint-up(md) {
          padding-top: 20rem;
        }

        @include media-breakpoint-up(lg) {
          .texto {
            margin-top: 5rem;
          }
        }
      }

      &.noticias {
        padding: $pad;
        max-width: 1260px;
        background-color: $gray-200;
        margin-left: auto;
        margin-right: auto;

        > .header {
          margin-bottom: $pad-2;

          h1 {
            margin-bottom: 5px;
          }

          a {
            display: block;
            margin-bottom: 5px;
          }
        }

        .contenido {
          display: flex;
          flex-wrap: wrap;

          article {
            width: 100%;
            margin-bottom: 0.9rem;
            background-color: #fff;
            padding: $pad;
            overflow: hidden;

            header {
              .marca-sj {
                display: block;
                position: absolute;
                margin-bottom: 5px;
                height: 25px;
                width: 25px;
                background-color: theme-color("secundario");
                border-radius: 50%;

                svg {
                  position: absolute;
                  top: 4px;
                  left: 7px;
                  width: 10px;
                }

                &:hover {
                  background-color: $gray-300;
                }
              }

              h2 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 1.1rem;
              }

              time {
                font-family: $ff-sans;
                font-size: 0.6rem;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                color: $gray-400;
              }
            }

            .entry-summary {
              font-size: 1.1rem;
            }

            &.sj {
              header {
                h2,
                time {
                  margin-left: $pad-3;
                }
              }
            }
          }
        }

        @include media-breakpoint-up(sm) {
          padding: $pad-3;

          .contenido {
            article {
              width: calc(33.3% - 0.7rem);
              max-width: 400px;
              margin-right: 1rem;
              overflow: hidden;

              &:nth-child(3n) {
                margin-right: 0;
              }
            }
          }
        }
      }

      &.rincon {
        margin-bottom: $pad-2;
        padding: $pad-2;
        background-color: theme-color("rincon");

        .header {
          text-align: center;
          border-bottom: none;
          font-size: 2rem;

          h1 {
            font-size: 0.9rem;
          }

          a {
            display: block;
            margin-top: 5px;
          }
        }

        .contenido {
          max-width: 900px;
          margin-left: auto;
          margin-right: auto;

          .entry-header {
            h2 {
              a {
                font-size: 1.8rem;
                color: #fff;
                font-style: italic;

                &:hover {
                  color: $gray-200;
                }
              }
            }

            .byline {
              font-family: $ff-sans;
              font-size: 0.8rem;
              letter-spacing: 0.2em;
              text-transform: uppercase;
              font-weight: bold;
            }
          }

          .entry-summary {
            font-size: 1.2rem;
            color: $gray-400;
          }
        }

        @include media-breakpoint-up(sm) { // .rincon
          .header {
            margin-bottom: $pad-2;
          }

          .contenido {
            display: flex;
            align-items: flex-start;
            margin-bottom: $pad-2;

            .entry-header {
              width: 50%;
              padding-right: $pad-3;

              h2 {
                margin-top: 0;
              }
            }

            .entry-summary {
              width: 50%;

              p:first-child {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
