.banner {
  background-color: $gray-lighter;
  padding-top: $pad-3;
  z-index: 1000;

  .brand {
    .logotipo {
      @include logo;
    }
  }

  > .epigrafe {
    display: none;
  }

  #hamb,
  #busc,
  #filtro {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 10px solid white;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $gray-lighter;

    .flash {
      width: 100%;
      height: 100%;
      background-color: white;
      opacity: 0;
    }

    &.open {
      background-image: url('../images/svg/icons/cerrar.svg');

      .flash {
        animation: flash2 $trans ease-in;
      }
    }

    &.closed {
      .flash {
        animation: flash $trans ease-in;
      }
    }
  }

  #hamb {
    top: 0;
    right: 0;

    &.closed {
      background-image: url('../images/svg/icons/menu.svg');
    }
  }

  #busc {
    right: 0;

    &.closed {
      background-image: url('../images/svg/icons/buscar.svg');
    }

    &.invisible {
      top: -0;
      transition: top $trans;
    }

    &.visible {
      top: 60px;
      transition: top $trans;
    }
  }

  #filtro {
    top: 0;
    right: 60px;
    font-family: $ff-sans;

    &.closed {
      background-image: url('../images/svg/icons/filtro.svg');
    }
  }

  .solapa {
    padding: $pad-1;
    height: 100vh;
    background-color: $gray-lighter;
    border: 10px solid white;
    font-family: $ff-sans;

    h1 {
      font-size: 0.7rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.1em;
    }

    ul {
      margin-top: 0;
      padding-left: 0;

      li {
        font-size: 1rem;
        font-family: $ff-sans;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        list-style-type: none;
        line-height: 1.5em;

        a {
          display: block;

          &:hover {
            color: $color-principal;
          }
        }
      }
    }

    @include tablet-portrait {
      padding: calc(#{$pad} * 3);

      h1 {
        font-size: 1rem;
      }

      ul li {
        font-size: 1.5rem;
      }
    }
  }

  #solapa-filtro {
    position: fixed;
    top: 0;
    width: calc(100% - 120px);

    &.closed {
      left: -100vw;
      transition: left $trans;
    }

    &.open {
      left: 0;
      transition: left $trans;
    }

    .art-cats {
      font-weight: bold;
    }
  }

  #solapa {
    position: fixed;
    top: 0;
    width: calc(100% - 60px);
    z-index: 10000;

    &.closed {
      left: -100vw;
      transition: left $trans;
    }

    &.open {
      left: 0;
      transition: left $trans;
    }
  }

  #solapa #buscar {
    position: absolute;
    top: -10px;
    width: calc(100% + 20px);

    &.closed {
      left: -100vw;
      transition: left $trans;
    }

    &.open {
      left: -10px;
      transition: left $trans;
    }

    .search-field {
      padding: $pad-1;
      width: 100%;
      border: none;
      font-family: $ff-sans;
      font-size: 1rem;
    }

    input[type=submit] {
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 50px;
      background-image: url('../images/svg/icons/buscar.svg');
      background-repeat: no-repeat;
      background-position: center;
      color: transparent;
      border: none;
      background-color: transparent;
      background-size: 70%;
      border-radius: 10px;
      width: 150px;
      height: 150px;

      &:hover {
        background-color: white;
        box-shadow: 0 0 50px rgba(#000, 0.1);
      }

      &:active {
        box-shadow: none;
      }
    }
  }

  &.adminbar {
    margin-top: 32px;

    #hamb,
    #filtro,
    #busc {
      top: 32px;
    }

    #busc.visible {
      top: 92px;
    }

    .solapa {
      height: calc(100vh - 32px);
    }
  }

  @include tablet-portrait {
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: $pad-1;
    padding-top: $pad-1;
    height: 100px;
    height: 70px;
    background-color: white;
    transition: height $trans, background-color $trans;

    &.med {
      height: 130px;
      background-color: $gray-lighter;
      transition: height $trans, background-color $trans;
    }

    > .epigrafe {
      display: block;
      position: absolute;
      top: 20px;
      left: 240px;
      font-size: 1rem;
      line-height: 1em;
      font-family: $ff-sans;
      text-transform: uppercase;

      a {
        display: inline-block;
        color: $gray-light-semi;

        &:hover {
          color: $gray-darker;
        }
      }
    }

    #solapa #buscar {
      .search-field {
        padding: $pad-2;
        font-size: 2rem;
      }
    }
  }
}
