.search-results {
  article {
    padding: $pad;
    background-color: #fff;
    margin-bottom: $pad-2;
    border-radius: 4px;

    h2 {
      font-size: 1.5rem;
    }
  }

  @include media-breakpoint-up("md") {
    article {
      display: flex;

      header {
        width: 50%;
        flex-grow: 0;
        flex-shrink: 0;

        h2 {
          padding-right: $pad;
        }
      }

      .entry-summary {
        width: 50%;
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
  }
}
