.single-sentence {
  main {
    padding-top: 2rem;
  }

  article header {
    background-color: #fff;
    padding: $pad;

    h1 {
      font-family: $ff-sans;
      font-size: 1.5rem;
    }
  }

  .entry-content {
    > ul {
      list-style-type: none;
      padding: $pad-1;
      background-color: #fff;
      font-family: $ff-sans;

      > li {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #000;

        &:last-child {
          border-bottom: none;
        }

        > ul {
          margin-top: $pad;
          padding-left: 0;
          list-style-type: none;

          > li {
            padding: $pad;
            font-size: 1rem;
            line-height: 1.2em;
            border-bottom: 1px dotted #000;

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
