.single-sentence {
  .entry-content {
    > ul {
      list-style-type: none;
      padding: $pad-1;
      background-color: #fff;
      font-family: $ff-sans;

      > li {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #000;

        > ul {
          margin-top: $pad;
          padding-left: $pad;
          list-style-type: none;

          > li {
            margin-bottom: 10px;
            font-size: 1rem;
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
