.single-new {
  .meta {
    display: inline-block;
    background-color: #fff;
    padding: 7px 7px 5px 7px;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    .col.col1 time {
      margin-top: 0;
    }
  }
}
