.single-text {
  .epi-meta {
    font-family: $ff-sans;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .meta {
    .autor {
      img {
        width: calc(3vw + 25px);
        height: auto;
        min-width: 60px;
        border: 5px solid #fff;
        margin-bottom: 0.5rem;
      }
    }
  }

  .excerpt {
    font-family: $ff-sans;
    background-color: #fff;
    border-top: 2px solid theme-color("principal");
    border-bottom: 2px solid theme-color("principal");

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .sentencias {
    margin-top: $pad;
    background-color: #fff;
    font-family: $ff-sans;
    border-bottom: 2px solid theme-color("principal");
    border-top: 2px solid theme-color("principal");

    > *:last-child {
      margin-bottom: 0;
    }

    ul {
      padding-left: 0;
      list-style-type: none;

      li {
        strong {
          display: block;
          font-size: 0.8rem;
        }

        .identificador,
        .der {
          line-height: 1.2rem;
        }

        a {
          line-height: 1.2rem;
        }
      }
    }
  }

  .entry-content {
    margin-top: 1.5em;

    h2 {
      margin-top: 1.5em;
      margin-bottom: 1em;
    }
  }

  @include media-breakpoint-up("md") {
    .sentencias {
      ul {
        li {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          border-bottom: 1px dotted #000;

          &:last-child {
            border-bottom: none;
          }

          strong {
            width: 8rem;
            flex-shrink: 0;
            flex-grow: 0;
          }

          .der {
            display: flex;
            flex-shrink: 1;
            flex-grow: 1;

            a {
              display: block;
              padding-left: $pad;
              padding-right: $pad;

              &.nombre {
                width: 60%;
              }

              &.pdf {
                width: 15%;
              }

              &.cendoj {
                width: 20%;
              }
            }
          }
        }
      }
    }
  }
}
