.single-text {
  .epi-meta {
    margin-top: 0;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  article {
    .entry-content {
      margin-top: $pad-2;

      p {
        hyphens: auto;
        text-align: justify;
      }

      .ez-toc-section {
        padding-top: 80px;
        margin-top: -80px;
      }

      .excerpt {
        background-color: white;
        padding: $pad;
        font-family: $ff-sans;
        font-size: 0.9rem;
        border-top: 2px solid $color-principal;
        border-bottom: 2px solid $color-principal;

        p {
          font-size: 0.9rem;
          hyphens: auto;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .sentencias {
        font-family: $ff-sans;
        font-size: 0.9rem;
        padding-top: $pad;
        border-bottom: 2px solid $color-principal;
        border-top: 2px solid $color-principal;

        .epi-meta {
          padding-left: $pad;
        }

        ul {
          padding-left: $pad;
          padding-bottom: 1em;
          margin-bottom: 0;
          list-style-type: none;

          li {
            strong {
              letter-spacing: 0.1em;
            }
          }
        }
      }

      .excerpt + .sentencias {
        border-top: none;
      }
    }

    header {
      h1 {
        line-height: 1.2em;
      }

      .meta {
        .col {
          border-left: 2px solid $gray;
          padding-left: $pad;
        }
      }
    }
  }
}
