.single-text {
  .epi-meta {
    font-family: $ff-sans;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .meta {
    .autor {
      img {
        width: calc(3vw + 25px);
        height: auto;
        min-width: 60px;
        border: 5px solid #fff;
        margin-bottom: 0.5rem;
      }
    }
  }

  .excerpt {
    font-family: $ff-sans;
    background-color: #fff;
    border-top: 2px solid theme-color("principal");
    border-bottom: 2px solid theme-color("principal");

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .sentencias {
    font-family: $ff-sans;
    border-bottom: 2px solid theme-color("principal");

    > *:last-child {
      margin-bottom: 0;
    }

    ul {
      padding-left: 0;
      list-style-type: none;

      li {
        strong {
          display: block;
          font-size: 0.8rem;
        }
      }
    }
  }

  .entry-content {
    margin-top: 1.5em;

    h2 {
      margin-top: 1.5em;
      margin-bottom: 1em;
    }
  }

  @include media-breakpoint-up("md") {
    .sentencias {
      ul {
        li {
          strong {
            width: 8rem;
            flex-shrink: 0;
            flex-grow: 0;
          }

          .der {
            flex-shrink: 1;
            flex-grow: 1;
          }
        }
      }
    }
  }
}
