h1,
h2,
h3 {
  font-family: $ff-sans;
}

.entry-content p {
  font-family: $ff-serif;
}

.cabecera1 {
  font-family: $ff-sans;
  font-size: 8pt;
}

table {
  td {
    vertical-align: top;

    &.nombre {
      width: 35mm;
      padding-top: 2mm;
    }

    &.escudo {
      border-left: 2px solid #000;
      padding-bottom: 2mm;
      padding-left: 5mm;
    }

    &.content {
      font-family: $ff-sans;
      border-left: 2px solid #000;
      padding-left: 2mm;
      padding-bottom: 2mm;

      p {
        font-family: $ff-sans;
      }
    }
  }
}

h1,
h2,
h3,
h4 {
  font-family: $ff-serif;
  font-weight: normal;
}

.excerpt {
  font-family: $ff-sans;
  font-size: 10pt;
  font-weight: bold;
  color: $gray-light;
  border-top: 1pt solid $gray-light;
  border-bottom: 1pt solid $gray-light;

  h2 {
    font-family: $ff-sans;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
}
